<div>
  <h1> Calculadora de Propinas! </h1>
  <label> Importe:
  <input type="number" placeholder="ingrese importe" [value]="imp" [(ngModel)]="imp"></label>
  <div>
    <label>habilitar porpina
    <input (click) = "checkPro()" type="checkbox" name="enable_pro" [value]="flag_p">
    </label>
    <!-- <label>No
      <input (click) = "checkPro()" type="radio" name="enable_pro" [value]="flag_p" checked >
    </label> -->
    <label> %
      <input type="number" id="porcentaje" value="10" [value]="por" [(ngModel)]="por">
    </label>
  </div>
  <div>
    <button (click)="calculated()" > calcular</button>
    <input type="text" readonly = "true" [value]="res">
  </div>
</div>
